﻿@model IEnumerable<EnterpriceResourcePlaning_ERP_.Models.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th>
        @foreach (var item in ViewBag.tds)
        {
            <th>@item</th>
        }

        <th></th>
    </tr>

    @foreach (var tblData in ViewBag.TableData)
    {
        string[] rowValue = tblData.Split(new string[] { "^@^" }, StringSplitOptions.None);

        <tr>
            @foreach (var rowData in rowValue)
            {
                <td>@rowData</td>
            }

        </tr>
    }


</table>
