﻿@model IEnumerable<EnterpriceResourcePlaning_ERP_.Models.EmployeeDepModel>
@{
    ViewBag.Title = "SearchingTable";
    Layout = null;/*"~/Views/Shared/_Layout.cshtml";*/
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.fixedHeader.min.css" rel="stylesheet" />
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@


    <style>
        thead input {
            width: 100%;
            height: 100%;
            padding: 3px;
            margin: 0px;
        }
        /*thead tr:nth-child(1) th {
            background: -webkit-linear-gradient(top, #07D0F4 10%, #098FA7);
        }*/
        thead tr:nth-child(2) th {
            padding: 0px;
            margin: 0px;
            text-align: center;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="m-3 p-2">


        <div class="card-body border table-responsive" style="background-color:#f1f1f9;">
            <table class="table table-bordered table-striped table-sm table-hover" style="display:inline-table;" id="myTable_1">
                <thead>
                    <tr class="text-center text-white" style="background: -webkit-linear-gradient(top, #07D0F4 10%, #098FA7);">
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Emp Age</th>
                        <th>Department Name</th>
                        <th>Department Code</th>
                        @*<th>Options</th>*@
                    </tr>
                </thead>
                <tbody class="p-0 m-0 text-sm-left">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.empId</td>
                            <td>@item.empName</td>
                            <td>@item.age</td>
                            <td>@item.depName</td>
                            <td>@item.depCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="card-body">
            <table class="table table-bordered table-sm table-hover" id="myTable_2">
                <thead>
                    <tr class="text-center text-white" style="background: -webkit-linear-gradient(top, #07D0F4 10%, #098FA7);">
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Emp Age</th>
                        <th>Department Name</th>
                        <th>Department Code</th>
                        @*<th>Options</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.empId</td>
                            <td>@item.empName</td>
                            <td>@item.age</td>
                            <td>@item.depName</td>
                            <td>@item.depCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <table class="table table-bordered table-sm table-hover" style="display:normal;" id="myTable_3">
                        <thead>
                            <tr class="text-center text-white" style="background: -webkit-linear-gradient(top, #07D0F4 10%, #098FA7);">
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Emp Age</th>
                                <th>Department Name</th>
                                <th>Department Code</th>
                                @*<th>Options</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.empId</td>
                                    <td>@item.empName</td>
                                    <td>@item.age</td>
                                    <td>@item.depName</td>
                                    <td>@item.depCode</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>

</html>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script src="~/Scripts/common.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.datatables.min.js"></script>
<script src="~/Scripts/dataTables.fixedHeader.min.js"></script>

<script>

    $(document).ready(function () {

        var table = [];
        //TableId = '#myTable_2';

        for (var j = 1; j <= 3; j++) {

            TableId = "";
            TableId = '#myTable_' + j.toString();

            //alert(TableId);

            $(TableId + ' thead tr').clone(true).appendTo(TableId + ' thead');

            $(TableId + ' thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            table[TableId] = $(TableId).DataTable({

                orderCellsTop: true,
                fixedHeader: false,
                paging: true,
                search: true,
                searching: true,

            });

        }


        $('input', this).on('keydown change', function () {

            var mytableId = '#' + $(this).closest('table').attr('id').toString();
            var col = $(this).closest('th').index();
            table[mytableId]
                .column(col)
                .search(this.value)
                .draw();
        });


        $('td').dblclick(function (e) {

            var mytableId = '#' + $(this).closest('table').attr('id').toString();

            var col = $(this).parent().children().index($(this));
            // alert("column: "+col);
            var row = $(this).parent().parent().children().index($(this).parent());
            // alert("row: " + row);
            var clickedCell = $(e.target).closest("td");
            var searchValue = clickedCell.text();
            // alert(searchValue);
            $(mytableId + ' thead tr:eq(1) th').eq(col).find('input').eq(0).val(searchValue)

            table[mytableId]
                .column(col)
                .search(searchValue)
                .draw();
        });

    });
</script>

