﻿
@{
    ViewBag.Title = "JsonDataRead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JsonDataRead</h2>

<div class="border">
    @ViewBag.QueryData;
</div>
<div>
    <h2>S: @ViewBag.startTime</h2>
    <h2>E: @ViewBag.EndTime</h2>
</div>