﻿
@{
    ViewBag.Title = "FirstPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ml-1">
    <h3>JSON file create for individual page: </h3>

    @Html.ActionLink("Json File Create", "JsonfileCreate", "JsonDataGenerate", new { @class = "btn btn-primary" })
@*@Html.ActionLink("Json Data Read", "JsonfileRead", "JsonDataGenerate", new { @class = "btn btn-primary" })*@

</div>
<br />
<br />



<div class="row ml-1" style="width:100%">
    <div class="col-md-12">
        <h4 class="ml-2 text-center">Json file read Module base</h4>

        <div class="col-md-6">

            <input type="text" class="form-control form-control-sm " id="moduleId" name="ModuleId" placeholder="ModuleId">

            <input type="text" class="form-control form-control-sm " id="tableId" name="TableId" placeholder="TableId">

            <input type="text" class="form-control form-control-sm " id="pkId" name="PkId" placeholder="PkId">

        </div>
        <div class="col-md-6">

             <input type="text" class="form-control form-control-sm " id="fkId" name="FkId" placeholder="FkId">

            <input type="text" class="form-control form-control-sm " id="dmlType" name="DmlType" placeholder="DmlType">

            <input type="submit" value="Submit" class="form-control form-control-sm btn btn-success" onclick="formSubmit()" />
        </div>
    </div>

</div>
<br />
<br />
<div class="row ml-1 border bg-white p-2" id="QueryResult">


</div>
<br />


@*@Html.ActionLink("Json Data Read using linq", "JsonDataRead", "GetDynamicTableInfo", new { ModuleId = 185, TableId = 448, PkId = "0", FkId = "0", DmlType = "binddata_fv_update" }, new { @class = "btn btn-info" })


    <h3>Table All Data Generate to Json</h3>

    <a href="/OverAllTableData/AllDataJsonfileCreate" class="btn btn-danger">Table All Data Generate to json</a>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    function formSubmit() {
        var ModuleId = $('#moduleId').val();
        var TableId = $('#tableId').val();
        var PkId = $('#pkId').val();
        var FkId = $('#fkId').val();
        var DmlType = $('#dmlType').val();

        var parameter = {
            moduleId: ModuleId,
            tableId: TableId,
            pkId: PkId,
            fkId: FkId,
            dmlType: DmlType
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("JsonDataRead", "GetDynamicTableInfo")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(parameter),
            success: function (queryString) {

                $("#QueryResult").html("<h2>" + queryString[0] + "</h2><p class='p-1'>" + queryString[1] + "</p><h2>" + queryString[2] +"</h2>");
                  
                //console.log(queryString);
                //alert(queryString);
            }
        });
    }



</script>