﻿
@{
    ViewBag.Title = "GridViewPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ml-1">
    <form id="myForm">
        <div class="col-md-12">
            <h4 class="ml-2 text-center">Json file read Module base</h4>

            <div class="col-md-6">

                <input type="number" class="form-control form-control-sm " id="moduleId" name="ModuleId" placeholder="ModuleId">

                <input type="number" class="form-control form-control-sm " id="tableId" name="TableId" placeholder="TableId">

                <input type="text" class="form-control form-control-sm " id="fkId" name="FkId" placeholder="FkId">

                <input type="text" class="form-control form-control-sm " id="filterExpression" name="FilterExpression" placeholder="FilterExpression">

                <input type="text" class="form-control form-control-sm " id="workfollowAction" name="WorkfollowAction" placeholder="WorkfollowAction">

            </div>
            <div class="col-md-6">

                <input type="number" class="form-control form-control-sm " id="isDeleteShow" name="IsDeleteShow" placeholder="IsDeleteShow">

                <input type="number" class="form-control form-control-sm " id="isWorkFollow" name="IsWorkFollow" placeholder="IsWorkFollow">

                <input type="text" class="form-control form-control-sm " id="displayOn" name="DisplayOn" placeholder="DisplayOn">

                <input type="text" class="form-control form-control-sm " id="userId" name="UserId" placeholder="UserId">

                <input type="number" class="form-control form-control-sm " id="recordType" name="RecordType" placeholder="RecordType">


            </div>
        </div>
    </form>
    <input type="submit" value="Submit" class="form-control form-control-sm btn btn-success" onclick="formSubmit()" />
    @*public string Get_Dynamic_Grid_View(long ModuleId, long TableId, string FkId, string FilterExpression, string WorkfollowAction,
        int IsDeleteShow, int IsWorkFollow, string DisplayOn, string UserId, int RecordType)*@

</div>

<br />
<br />
<div class="row ml-1 border bg-white p-2" id="SQLResult">


</div>
<br />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function formSubmit() {
        var form = $("#myForm").serialize();
        //alert(form);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Get_Dynamic_Grid_View", "GetDynamicTableInfo")',
            data: form,
            success: function (response) {
                console.log(response[0]);
                $("#SQLResult").html("<h2>" + response[0] + "</h2><p class='p-1'>" + response[1] + "</p><h2>" + response[2] + "</h2>");
            }
        });
    };

</script>