﻿
@{
    ViewBag.Title = "JsonfileRead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JsonfileRead</h2>


<h3>Utl_Dynamic_Module Table</h3>
<table class="table table-bordered table-sm table-hover">
    <tr>
        <th>moduleId</th>
        <th>applicationId</th>
        <th>ExiModulId</th>
        <th>isNewCopy</th>
        <th>moduleName</th>
        <th>moduleCaption</th>
        <th>reportTitle</th>
        <th>isDrillDownReport</th>
        <th>categoryId</th>
        <th>imagePath</th>
        <th>moduleType</th>
        <th>siNo</th>
        <th>isActive</th>
        <th>developerSyId</th>
        <th>rowId</th>
        @*<th>entryUserId</th>
        <th>entryBy</th>
        <th>entryDate</th>
        <th>updateBy</th>
        <th>updateDate</th>
        <th>checkBy</th>
        <th>checkDate</th>
        <th>approveBy</th>
        <th>approveDate</th>
        <th>deleteBy</th>
        <th>deleteDate</th>
        <th>cancelBy</th>
        <th>cancelDate</th>
        <th>isApproved</th>
        <th>is_Active</th>
        <th>isDelete</th>
        <th>isCandel</th>
        <th>workFollowPosition</th>*@
    </tr>

    @foreach (var item in ViewBag.moduleData)
    {
        <tr>
            <td>@item.ModuleId</td>
            <td>@item.ApplicationId</td>
            <td>@item.ExistingModuleId</td>
            <td>@item.IsNewCopy</td>
            <td>@item.ModuleName</td>
            <td>@item.ModuleCaption</td>
            <td>@item.ReportTitle</td>
            <td>@item.IsDrilldownReport</td>
            <td>@item.CategoryId</td>
            <td>@item.ImagePath</td>
            <td>@item.ModuleType</td>

            <td>@item.SlNo</td>
            <td>@item.IsActive</td>
            <td>@item.DeveloperSyncId</td>
            <td>@item.Row_Id</td>
            @*<td>@item.Entry_User_Id</td>
            <td>@item.Entry_By</td>
            <td>@item.Entry_Date</td>
            <td>@item.Update_By</td>

            <td>@item.Update_Date</td>
            <td>@item.Check_By</td>
            <td>@item.Check_Date</td>
            <td>@item.Approve_By</td>
            <td>@item.Approve_Date</td>

            <td>@item.Delete_By</td>
            <td>@item.Delete_Date</td>
            <td>@item.Cancel_By</td>
            <td>@item.Cancel_Date</td>
            <td>@item.Is_Approved</td>
            <td>@item.Is_Active</td>
            <td>@item.Is_Deleted</td>
            <td>@item.Is_Cancel</td>
            <td>@item.Work_Follow_Position</td>*@

        </tr>
    }
</table>
