﻿@model IEnumerable<EnterpriceResourcePlaning_ERP_.Models.ManuBar>


@foreach (var item in Model)
{
    <li class="nav-item nav-menu slick-active">
        <a class="nav-link" href="@item.ActionName">@item.ActionName</a>
    </li>

}