﻿@model IEnumerable<EnterpriceResourcePlaning_ERP_.Models.HomePageApp>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2 m-3">
                <div class="card" style="width:182px;height:120px;">
                    <a href="@item.applicationLink" class="text-sm" style="color:black;text-decoration: none;">
                        <div style="width:182px; height:100px;">
                            <img src="@Url.Content(item.imageUrl)" alt="Image no found" width="182" height="100" style="border-top-left-radius: 7%; border-top-right-radius: 7%;"/>
                        </div>
                        <div class="card-header text-sm m-0 p-0 text-center" style="font-size:12px;">@item.application</div>
                    </a>
                </div>
            </div>

        }

    </div>

</div>
