﻿@model IEnumerable<EnterpriceResourcePlaning_ERP_.Models.MaterialModule>
@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Material</h2>*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 m-3">
            <div class="card" style="width:202px;height:90px;">
                <a href="@item.moduleLink" class="text-sm" style="color:black;text-decoration: none;">
                    <div class="text-center" style="font-size:47px; color:#83057F;">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="card-header text-sm m-0 p-0 text-center" style="font-size:12px;">@item.module</div>
                </a>
            </div>
        </div>

    }
</div>