﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />*@
    <title>navbar</title>
    <style type="text/css">

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-prev:before,
        .slick-next:before {
            color: blue;
        }

        #navBarG {
            width: 97%;
            /*overflow-x: scroll;

            white-space: nowrap;*/
        }
    </style>
</head>
<body>
    <div class="ml-5 mr-5 m-auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%">
            <select class="nav-link navbar-brand dropdown-toggle" aria-labelledby="navbarDropdownMenuLink">
                <option class="dropdown-item" value="1">Employee</option>
                <option class="dropdown-item" value="2">Another action</option>
                <option class="dropdown-item" value="3">More Action</option>
            </select>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pl-5" id="navbarNavDropdown" style="width:50% !important">
                <ul class="navbar-nav slick-style" id="navBarG">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>



                </ul>
                @*<div class="tab-control">
                        <a class="previous-button" role="button"><i class="fa fa-angle-left fa-3x fa-fw"></i></a>
                        <a class="next-button" role="button"><i class="fa fa-angle-right fa-3x fa-fw"></i></a>
                    </div>*@
            </div>
        </nav>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/slick.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @*<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {

            //$(".slick-style").slick({
            //    dots: false,
            //    infinite: true,
            //    centerPadding: '10px',
            //    variableWidth: true

            //});

            $(document).on('change', 'select', function (e) {
                e.preventDefault


                var parentId = $(this).val()
                //alert(parentId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubMenus", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        parentId: parentId,
                    }),
                    dataType: 'html',
                    success: function (ManuBarList) {
                        console.log(ManuBarList)
                        $('#navBarG').html(ManuBarList);

                        for (var i = 1; i < 2; i++) {

                            $(".slick-style").slick({
                                infinite: true,
                                speed: 300,
                                slidesToShow: 1,
                                variableWidth: true
                            });
                        }


                    }

                });


                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("ManubarData", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        parentId: parentId,
                    }),

                    success: function (ManuBarList) {

                        console.log(3)

                        var ul_li = '<li class="nav-item active"><a class="nav-link" href="#">Default</a></li>';

                        $.each(ManuBarList,
                            function (key, value) {

                                ul_li += '<li class="nav-item active"><a class="nav-link" href="' + value.ActionName + '">' + value.ActionName + '</a></li>'

                            }
                        );
                        $('#navBarG').html(ul_li);

                    }
                });*@
            });

            //$(".slick-style").slick({
            //    dots: false,
            //    infinite: true,
            //    centerPadding: '10px',
            //    variableWidth: true

            //});


        });
    </script>
</body>
</html>
